<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="YValiya\Core\Api\ConfigInterface" type="YValiya\Core\Model\Config"/>
    <preference for="YValiya\Core\Api\FilesTrackerService" type="YValiya\Core\Service\FilesTracker"/>
    <preference for="YValiya\Core\Api\LoggerService" type="YValiya\Core\Service\Logger"/>
    <preference for="YValiya\Core\Api\MultiThreadExecutorService" type="YValiya\Core\Service\MultiThreadExecutor"/>
    <preference for="YValiya\Core\Api\LockProtectedCallbackExecutorService"
                type="YValiya\Core\Service\LockProtectedCallbackExecutor"/>
</config>
